* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0126de;
  color: #fff;
  padding: 15px 0;
}

.header__text button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;

  &:hover {
    background-color: rgb(135, 172, 172);
    color: #fff;
    cursor: pointer;
  }
}

.header__input {
  width: 100px;
  height: 30px;
  background-color: #4e5ba1;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 10px 15px;
  background-color: rgb(235, 216, 209);
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.navigation li:hover {
  color: #4e5ba1;
  cursor: pointer;
}

.navigation img {
  width: 100px;
}
/* header section finished */

/* first section started */

.first__section {
  background-color: rgb(219, 167, 148);
}

.first__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.first__text{
  width: 400px;
  height: 500px;
  padding: 20px 10px  ;
}

.first__text h1{
  font-size: 4.5rem;
}

.first__img img{
  width: 800px;
  height: 500px;
}

.first__button{
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px 40px;
  background-color: rgb(207, 145, 122);



  &:hover{
    background-color: rgb(176, 167, 164);
    cursor: pointer;
  }
}

/* first section finished */

/* works section started */