* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0126de;
  color: #fff;
  padding: 15px 0;
}

.header__text button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;

  &:hover {
    background-color: rgb(135, 172, 172);
    color: #fff;
    cursor: pointer;
  }
}

.header__input {
  width: 100px;
  height: 30px;
  background-color: #00000059;
  border-radius: 5px;
  text-align: center;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 10px 15px;
  background-color: rgb(235, 216, 209);
}

.navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.navigation a:hover {
  color: #4e5ba1;
  cursor: pointer;
}

.navigation img {
  width: 100px;
}

/* header section finished */

/* first section started */

.first__section {
  background-color: rgb(219, 167, 148);
}

.first__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 20px;
}

.first__text {
  width: 400px;
  height: 500px;
  padding: 20px 10px;
}

.first__text h1 {
  font-size: 4.5rem;
}

.first__img img {
  width: 800px;
  height: 500px;
}

.first__button {
  border: solid 1px black;
  border-radius: 20px;
  padding: 10px 40px;
  background: transparent;

  &:hover {
    background-color: rgb(176, 167, 164);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

/* first section finished */

/* works section started */

.works__section {
  background-color: rgb(238, 221, 216);
  text-align: center;
}

.works__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.works__wrapper h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.works__cards {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.works__cards ul {
  width: 200px;
  height: 150px;
  transition: all 0.5s eas;

  &:hover {
    /* background-color: rgb(181, 170, 170); */
    transform: rotateY(360deg);
    transition: 2s;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

.works__button {
  padding: 8px 30px;
  border-radius: 35px;
  border: solid 1px;
  transition: all 0.3s ease;
  background: transparent;

  &:hover {
    background-color: rgb(222, 209, 209);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

/* works section finished */

/* infomation section started */

.information {
  background-color: rgb(238, 221, 216);
  padding: 40px 10px;
}

.information__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information__parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.information__text h3 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
}

.information__btn {
  margin-top: 20px;
  border: solid 1px blue;
  border-radius: 20px;
  padding: 10px 40px;
  background: transparent;
  transition: all 0.3s ease;
  color: blue;

  &:hover {
    background-color: rgb(176, 167, 164);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

/* information section finished */

/* started shopping section */

.shopping {
  background-color: rgb(238, 221, 216);
  margin-top: 5px;
}

.shopping__wrapper {
  text-align: center;
}

.shopping__wrapper h4 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.shopping__child img {
  width: 440px;
  height: 440px;
}

.shopping__price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.shopping__child {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 40px;

  &:hover {
    color: rgb(163, 77, 77);
  }
}

.shopping__child p {
  font-size: 1.3rem;
}

.shopping__child button {
  margin-top: 20px;
  border: solid 1px blue;
  border-radius: 20px;
  padding: 10px 40px;
  background: transparent;
  transition: all 0.3s ease;
  color: blue;

  &:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
  }
}

/* shopping section finished */

/* img section started */

.img {
  margin-top: 40px;
}

/* img section finished */

/* story section started */

.story {
  background-color: rgb(238, 221, 216);
}

.story__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.story__parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.story__child {
  border: solid 1px;
  border-radius: 15px;
  width: 450px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.story__child img {
  width: 400px;
  height: 350px;
}

.story__child h6 {
  font-size: 3rem;
}

.story__child p {
  margin-top: 20px;
}

/* story section finished */

/* more section started */

.more {
  background-color: rgb(238, 221, 216);
}

.more_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.more__parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.more__child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.more__text{
  width: 400px;
  height: 400px;
  padding: 40px 10px;
}

.more__text h6{
  font-weight: 400;
}

.more__text p{
  letter-spacing: 1px;
  font-weight: bold;
}

.more__text button {
  margin-top: 20px;
  border: solid 1px blue;
  border-radius: 20px;
  padding: 10px 40px;
  background: transparent;
  transition: all 0.3s ease;
  color: blue;

  &:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
  }
}